.landing-wrapper {
  height: 100%;
  width: 100%;
  background-color: #2E073F;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.misha-logo {
  height: auto;
  width: 17vw;
}

.right-side-content {
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

.landing-title, .landing-desc {
  display: flex;
  overflow: hidden;
}

.landing-title {
  /* margin-bottom: 1vw; */
  font-size: 1.5vw;
}

.landing-desc {
  font-size: 1.1vw;
  /* margin-bottom: 1vw; */
  font-family: gravica-medium;
}

.landing-title .word, .landing-desc .word {
  display: flex;
}

.right-side .links {
  fill: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.right-side a {
  opacity: .75;
  text-decoration: none;
}

.right-side .link {
  fill: white;
  width: 100%;
  height: 3vw;
}

.landing-buttons {
  position: absolute;
  bottom: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.no-sound {
  margin-top: 30px;
  color: white;
  cursor: pointer;
  font-family: gravica-medium;
}

.enter-button {
  background-color: white;
  color: black;
  padding: 1em 2em;
  font-size: 1.2vw;
  cursor: pointer;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-button-content {
  display: flex;
}

.enter-text {
  margin-right: .8vw;
  overflow: hidden;
  position: relative;
  font-family: gravica-medium;
}

.enter-text .word {
  display: flex;
}

.words-up, .words-down {
  display: flex;
}

.words-down {
  position: absolute;
}

.enter-arrow {
  position: relative;
}

.enter-arrow span {
  position: absolute;
  top: 35%;
  width: .4em;
  height: .4em;
  border-bottom: .15em solid black;
  border-right: .15em solid black;
  rotate: 270deg;
  animation: animate-arrow 1.5s infinite;
}

@keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-.4em, -.4em);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(0em, 0em);
  }
}

@media (max-width: 576px) {
  .landing-content {
    flex-direction: column;
  }

  .misha-logo {
    width: 30vw;
    margin-bottom: 4vw;
  }

  .landing-title {
    font-size: 4.4vw;
  }

  .landing-desc {
    font-size: 3.4vw;
  }

  .right-side .links {
    width: 60%;
    margin-top: 2.2vw;
  }

  .right-side .link {
    height: 5.5vw;
  }

  .landing-buttons {
    bottom: 15%;
  }

  .enter-button, .no-sound {
    font-size: 12px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .landing-content {
    flex-direction: column;
  }

  .misha-logo {
    width: 25vw;
    margin-bottom: 4vw;
  }

  .landing-title {
    font-size: 3.4vw;
  }

  .landing-desc {
    font-size: 2.4vw;
  }

  .right-side .links {
    width: 70%;
    margin-top: 2.2vw;
  }

  .right-side .link {
    height: 4.5vw;
  }

  .landing-buttons {
    bottom: 15%;
  }

  .enter-button, .no-sound {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .landing-title {
    font-size: 2.4vw;
  }

  .landing-desc {
    font-size: 1.4vw;
  }
}
