.scroll-wrapper {
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  opacity: .75;
  user-select: none;
}

.arrows {
  position: absolute;
  top: 2.8em;
  left: 50%;
  transform: translateX(-50%);
}

.arrows .arrow {
  opacity: .75;
  animation: animate 2s infinite;
}

.arrows .arrow svg {
  display: block;
  height: 1.3em;
}

.arrows .arrow:nth-child(2) {
  animation-delay: -0.2s;
}

.arrows .arrow:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-1.2em);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
