@font-face {
  font-family: fraktion;
  src: url(assets/fonts/fraktion.otf);
}

@font-face {
  font-family: gravica-bold;
  src: url(assets/fonts/gravica-bold.otf);
}

@font-face {
  font-family: gravica-medium;
  src: url(assets/fonts/gravica-medium.otf);
}

body {
  margin: 0;
  padding: 0;
  /* font-family: fraktion; */
  font-family: gravica-bold;
}

.app-wrapper {
  height: 160vh;
  width: 100%;
}

.app-content {
  position: fixed;
  height: 100vh;
  width: 100%;
}
