.audio-wrapper {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}

.bars {
  display: flex;
  justify-content: space-between;
  width: 3vw;
  height: 2vw;
  transform: rotate(180deg);
}

.bars .bar {
  width: .3vw;
  height: 100%;
  background-color: white;
  opacity: .5;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
  border-radius: 10vw;
}

@keyframes bounce {
  10% {
    height: 30%;
    opacity: .2;
  }

  30% {
    height: 100%;
    opacity: .6;
  }

  60% {
    height: 50%;
    opacity: .3;
  }

  80% {
    height: 75%;
    opacity: .55;
  }

  100% {
    height: 60%;
    opacity: .4;
  }
}

.bar:nth-of-type(2) {
  animation-delay: -2.2s;
}

.bar:nth-of-type(3) {
  animation-delay: -3.7s;
}

.bar:nth-of-type(4) {
  animation-delay: -5s;
}
